site_name: IAW
site_description: Implantación de Aplicaciones Web
site_author: Tu Nombre
site_url: https://tusitio.com

repo_name: usuario/repositorio
repo_url: https://github.com/usuario/repositorio

nav:
  - Principal: index.md
  - Acerca de: about.md
  - Práctica 5.1: Practica-5-1.md
  - Práctica 5.2: Practica-5-2.md

theme:
  name: material
  language: es
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Cambiar a modo oscuro
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Cambiar a modo claro

  font:
    text: Roboto
    code: Roboto Mono

  features:
    - navigation.tabs
    - navigation.top
    - search.highlight
    - content.code.copy
    - content.action.edit
    - content.action.view

plugins:
  - search

markdown_extensions:
  - admonition
  - footnotes
  - attr_list
  - def_list
  - tables
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/usuario
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/usuario

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js