site_name: IAW
site_description: Implantación de Aplicaciones Web
site_author: Marcos
site_url: https://marcos-ramos-martinez.github.io/Marcos-Ramos-Martinez.github.io-PracticaMkDocs-iaw/

repo_name: Marcos-Ramos-Martinez.github.io-PracticaMkDocs-iaw
repo_url: https://github.com/Marcos-Ramos-Martinez/Marcos-Ramos-Martinez.github.io-PracticaMkDocs-iaw
edit_uri: edit/main/docs/

nav:
  - Principal: index.md
  - Acerca de: about.md
  - Práctica 5.1: Practica-5-1.md
  - Práctica 5.2: Practica-5-2.md

theme:
  name: material
  language: es

  logo: assets/logo.png          # Opcional (añade si tienes logo)
  favicon: assets/favicon.png    # Opcional

  palette:
    - scheme: default
      primary: indigo
      accent: blue
      toggle:
        icon: material/weather-night
        name: Cambiar a modo oscuro
    - scheme: slate
      primary: indigo
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Cambiar a modo claro

  font:
    text: Roboto
    code: Roboto Mono

  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - search.highlight
    - search.suggest
    - content.code.copy
    - content.action.edit
    - content.action.view
    - toc.integrate

plugins:
  - search

markdown_extensions:
  - admonition
  - footnotes
  - attr_list
  - def_list
  - tables
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Marcos-Ramos-Martinez

copyright: © 2026 Marcos Ramos Martínez
